body {
  background-color: #fcf9f9;
  color: #cd1414;
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
}

a {
  color: #191a1a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
